<!--<div th:fragment="agency_notification_header" style="margin-top: 0px;padding-top: 0px;">-->
<!--  <div class="agency-notification-title" style="margin-top: 0px;padding-top: 0px;">HOME DETENTION CURFEW: <br>AGENCY NOTIFICATION FORM</div>-->
<!--</div>-->

<!-- templates/offender/fragments/agency_notification_header.html -->
<!--<div class="agency-notification-title" style="text-align: center; font-weight: bold; font-size: 24px; margin-bottom: 20px;">-->
<!--  HOME DETENTION CURFEW: <br>AGENCY NOTIFICATION FORM-->
<!--</div>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="agency_notification_header">
  <h1>HOME DETENTION CURFEW:</h1>
  <h2>AGENCY NOTIFICATION FORM</h2>
  <!-- Other header content goes here -->
</div>
</body>
</html>
