<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
  <title data-th-text="${docSubjectType}">Document Title</title>
  <link rel="stylesheet" th:href="${assessmentsUrl} + '/css/style.css'">
</head>
<body>
  <div class="title">Home Detention Curfew (tagging): Information about address checks</div>
  <div data-th-replace="~{offender/fragments/offender_details.html :: offender_summary}"></div>
  <p data-th-text="${#temporals.format(dateToday, 'dd MMM yyyy')}"></p>
  <div class="subtitle">
    What you need to know
  </div>
  <p>
    We previously told you that you're eligible for Home Detention Curfew (tagging).
  </p>
  <p>
    Under Home Detention Curfew you would have to:
  </p>
  <ul>
    <li>stay at home during certain hours (your curfew); and</li>
    <li>wear an electronic tag - to make sure you follow your curfew</li>
    <li>allow EMS provider staff access to your home to check the equipment</li>
  </ul>
  <p>
    It would mean you could be released on <span data-th-text="${#temporals.format(currentAssessment.hdced, 'dd MMM yyyy')}">15-Jul-2026</span>.
  </p>
  <div class="subtitle">
    What you need to do now
  </div>
  <p>
    You now need to fill in the 'Address Form' and return it by <span data-th-text="${#temporals.format(addressFormDueDate, 'dd MMM yyyy')}">10-Apr-2026</span>.
  </p>
  <div class="subtitle">
    What we will do
  </div>
  <p>
    We will:
  </p>
  <ul class="unindented-list">
    <li>Ask probation to check that the address you provided is suitable - this includes talking to anyone else who lives there.</li>
    <li>Assess any risks of release you on Home Detention Curfew to the proposed address.</li>
    <li>Let you know our final decision (in writing).</li>
  </ul>
  <div class="subtitle">
    Not interested?
  </div>
  <p>
    Not interested in being released early with Home Detention Curfew (tagging)? Just fill in the 'Opt-out' form.
  </p>
</body>
</html>
