<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title data-th-text="${docSubjectType}">Document Title</title>
  <link rel="stylesheet" th:href="${assessmentsUrl} + '/css/style.css'">
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    header {
      position: fixed;
      top: 0;
      width: 100%;
      align-content: start;
      /*text-align: start;*/
      /*align-items: start;*/
      /*margin-bottom: 30%;*/
      /*background-color: #f8f9fa;*/
      padding-bottom: 40px;
      /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
      /*z-index: 1000;*/
    }
    main {
      margin-top: 60px; /* Adjust based on header height */
      padding: 20px;
    }
  </style>
</head>
<body>
<header>
  <div class="agency-notification-title">HOME DETENTION CURFEW: <br>AGENCY NOTIFICATION FORM</div>
</header>
<main>
  <div class="bordered-box" style="font-weight: bold; padding-left: 1px;">
      This form must be sent to the EMS provider, probation service and the home police force.<br><br>

      A copy of the prisoner’s licence must be sent as soon as possible on the day of release. All<br>
      accompanying documentation should be sent to the probation service.
  </div>
  <!-- Prison details -->
  <div>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080;">
        <th style="text-align: left; color: white;" colspan="2">1. Prison details</th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">a. Prison</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">b. Address</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">c. Contact name</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">d. Telephone</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">e. Email</td>
        <td style="width: 65%;"></td>
      </tr>
    </table>
  </div>
  <!-- Prisoner details -->
  <div style="padding-top: 20px;">
    <table style="width:100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080;">
        <th style="text-align: left; color: white;" colspan="2">2. Prisoner details</th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">a. HDC release date</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">b. Name</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">c. D.O.B</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">d. NOMIS ID</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">e. PNC ID</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">f. Gender</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">g. Conditional release date</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">h. Is an interpreter required? (If yes,
          provide the language)</td>
        <td style="width: 65%;"></td>
      </tr>
    </table>
  </div>
  <div style="padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid black"></div>
  <!-- electronic monitoring -->
  <div style="padding-top: 30px;">
    <table style="width:100%; border-collapse: collapse; border: 1px solid black;">
      <thead>
        <tr style="border-bottom: 1px solid black; background-color: #808080;">
          <th style="text-align: left; color: white;"  colspan="4">
            3. Type of electronic monitoring required<br>
            <span style="font-style: italic; font-weight: 100;">Please confirm all that apply and provide the end date of the conditions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-bottom: 1px solid black;">
          <td style="border-right: 1px solid black;width: 35%;">Curfew Monitoring (Yes/No)</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
          <td style="border-right: 1px solid black; width: 11%;">End date:</td>
          <td style="border-right: 1px solid black;width: 27%;"></td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
          <td style="border-right: 1px solid black;width: 35%;">Exclusion(s) Monitoring
            (Yes/No)</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
          <td style="border-right: 1px solid black; width: 11%;">End date:</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
          <td style="border-right: 1px solid black;width: 35%;">Trail Monitoring (Yes/No)
            This involves monitoring an
            offender’s movements to
            support discussions with their
            offender manager about lifestyle
            and behaviours</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
          <td style="border-right: 1px solid black; width: 11%;">End date:</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
          <td style="border-right: 1px solid black;width: 35%;">Other monitoring requirement
            (Yes/No)</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
          <td style="border-right: 1px solid black; width: 11%;">End date:</td>
          <td style="border-right: 1px solid black; width: 27%;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Curfew details  -->
  <div style="padding-top: 60px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080;">
        <th style="text-align: left; color: white;" colspan="2">4. Curfew details</th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%; height: 60px; vertical-align: top;">a. Curfew address</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">b. Telephone</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">c. Mobile</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">d. Second curfew address (if required)</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">e. Second telephone (if required)</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">f. Name of main occupier</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">g. Responsible adult (required for
          children under 18 released on HDC)</td>
        <td style="width: 65%;"></td>
      </tr>
    </table>
  </div>
  <!-- Curfew times  -->
  <div style="padding-top: 40px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080;">
        <th style="text-align: left; color: white;" colspan="5">5. Curfew times<br><br>
          <span style="font-style: italic; font-weight: 100;">Provide the curfew times the offender must remain at the address. Use the additional columns if the
            offender is to have multiple curfew periods on the same day</span> </th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%; vertical-align: top;"></td>
        <td style="border-right: 1px solid black; width: 20%;">Time from</td>
        <td style="border-right: 1px solid black; width: 20%;">Time to</td>
        <td style="border-right: 1px solid black; width: 20%;">Split curfew only from</td>
        <td style="border-right: 1px solid black; width: 20%;">Split curfew only to</td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Daily</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Monday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Tuesday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Wednesday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Thursday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Friday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Saturday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Sunday</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="height: 18px;" colspan="5"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 20%;">Curfew hours on
          day of release</td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
        <td style="border-right: 1px solid black;width: 20%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="height: 18px;" colspan="5"></td>
      </tr>
    </table>
    <table style="width: 50%; border-collapse: collapse; border: 1px solid black; border-top: none; height: 30px;">
      <tr>
        <td style="border-right: 1px solid black; width: 50%;">HDC End Date:</td>
        <td style="border-right: 1px solid black; width: 50%;"></td>
      </tr>
    </table>
  </div>
  <!-- Exclusion conditions  -->
  <div style="padding-top: 100px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080; vertical-align: top;">
        <th style="text-align: start; color: white; height: 70px !important;" colspan="2">6. Exclusion conditions to be electronically monitored<br>
          <span style="font-style: italic; font-weight: 100;">Provide details of any exclusion conditions that are to be electronically monitored </span>
        </th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%; height: 60px; vertical-align: top;">a. Is there an exclusion zone requirement?
          (Yes/No)</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">b. Is a map of the exclusion zone(s) attached
          to this form? (Yes/No)</td>
        <td style="width: 65%;"></td>
      </tr>
      <br>
      <br>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; width: 35%; height: 180px !important; vertical-align: top;">
        c. Describe the exclusion zone(s) fully
          (include zone collection reference if the Portal
          has been used to draw the zone(s)2)</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">d. Are the exclusion(s) in place 24/7?
          (Yes/No)</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
          <td style="border-right: 1px solid black;" colspan="2">e. If the answer above is no, provide the times when the exclusion(s) should be monitored </td>
      </tr>
    </table>
    <!-- Exclusion zone  -->
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; border-top: none;">
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; width: 22%;">Exclusion zone</td>
        <td style="border-right: 1px solid black; width: 27%;">Time from</td>
        <td style="border-right: 1px solid black; width: 20%;">Time to</td>
        <td style="border-right: 1px solid black; width: 31%;">Days of the week</td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
    </table>
  </div>
  <!-- Trail monitoring condition -->
  <div style="padding-top: 40px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080; vertical-align: top;">
        <th style="text-align: start; color: white; height: 70px !important;" colspan="2">7. Trail monitoring condition<br>
          <span style="font-style: italic; font-weight: 100;">The trail monitoring licence condition enables offender managers to request retrospective information<br>
  about a subject’s whereabouts. The offender is mandated to wear the tag at all times for the purpose of<br>
  their movements being recorded and reviewed.</span>
        </th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">a. Is trail monitoring a requirement?
          (Yes/No)</td>
        <td style="width: 65%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%; height: 90px; vertical-align: top;">Describe trail monitoring requirement</td>
        <td style="width: 65%;"></td>
      </tr>
    </table>
  </div>
  <!-- Other electronic monitoring requirements -->
  <div style="padding-top: 20px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080; vertical-align: top;">
        <th style="text-align: start; color: white;" colspan="2">8. Other electronic monitoring requirements</th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">a. Are there any other electronic
          monitoring requirements e.g. attendance,
          inclusion zones? (Yes/No)</td>
        <td style="width: 65%;"></td>
      </tr>

      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%; height: 90px; vertical-align: top;">b. Describe requirement to be monitored</td>
        <td style="width: 65%;"></td>
      </tr>
    </table>
    <!-- Other Monitoring Requirement -->
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; border-top: none;">
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; width: 25%;">Other Monitoring Requirement</td>
        <td style="border-right: 1px solid black; width: 25%;">Time from</td>
        <td style="border-right: 1px solid black; width: 25%;">Time to</td>
        <td style="border-right: 1px solid black; width: 25%;">Days of the week</td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
        <td style="border-right: 1px solid black; height: 18px;"></td>
      </tr>
    </table>
  </div>
  <!-- Additional information -->
  <div style="padding-top: 20px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080; vertical-align: top;">
        <th style="text-align: start; color: white;" colspan="2">11. Additional information</th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">Is there any additional information about the offender that the electronic monitoring provider should
          consider?<br><br>
          For example is the offender blind, partially sighted, deaf, hard of hearing, has learning difficulties or any
          condition that may affect the fitting of the tag such as a prosthetic leg.<br><br>
          Please provide further details or indicate that no additional information is relevant.
        </td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%; height: 90px;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%;">Is there any additional information to suggest that the offender presents a risk of harm or verbal abuse to
          the electronic monitoring provider’s staff?<br><br>
          Please provide further details or indicate that no additional information is relevant.
        </td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 35%; height: 100px;"></td>
      </tr>
    </table>
  </div>
  <!-- Community offender manager details -->
  <div style="padding-top: 20px;">
    <table style="width:100%; border-collapse: collapse; border: 1px solid black;">
      <tr style="border-bottom: 1px solid black; background-color: #808080;">
        <th style="text-align: left; color: white;" colspan="2">12. Community offender manager details</th>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 40%;">a. Community offender manager name</td>
        <td style="width: 60%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 40%;">b. Contact number</td>
        <td style="width: 60%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 40%;">c. Breach notification email or functional mailbox</td>
        <td style="width: 60%;"></td>
      </tr>
      <tr style="border-bottom: 1px solid black;">
        <td style="border-right: 1px solid black;width: 40%;">d. Probation service</td>
        <td style="width: 60%;"></td>
      </tr>
    </table>
  </div>
</main>
</body>
</html>
