body {
    font-family: Arial, sans-serif;
    font-size: 10.5pt;
}

.title {
    font-size: 18pt;
    margin: 10px 0;
}

.subtitle {
    font-size: 14pt;
}

.section-heading {
    font-size: 13pt;
    margin: 20px 0;
}

.offender-summary {
    display: flex;
    flex-wrap: wrap;
}

.offender-summary div {
    width: 50%;
}

.signature div {
    margin-bottom: 15px;
}

.signature div:first-child {
    margin-top: 30px;
}

ul.unindented-list {
    margin: 20px 0;
    padding: 0;
    list-style: square outside none;
}

ul.unindented-list li {
    margin: 5px 0 0 5px;
}

.representation-details {
    margin-top: 10px;
    line-height: 20px;
}

.other-reason {
    margin-top: 5px;
    width: 680px;
    height: 130px;
}

.checkbox-label {
    display: flex;
    align-items: baseline;
}

.large-checkbox-label {
    font-size: larger;
}

.inline-checkbox {
    font-size: larger;
    margin: 30px 0 15px;
}

.inline-checkbox > label {
    margin-right: 30px;
}

.checkbox {
    appearance: none;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.bordered-box {
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 20px;
}

.address-question {
    margin: 5px;
}

.page-break-after {
    break-after: page;
}

.margin-top-bottom-medium {
    margin: 30px 0
}

.important {
    font-weight: bold;
}

hr {
    margin-right: 0.5em;
}
